/* Styling for the main header container */
.header {
  background-color: #ffffff;
  color: #171010;
  padding: 20px;
  padding-top: 60px;
  /* z-index: 1001; */
}

/* Styling for the "Subscribe" button */
.header .header-subscribe {
  margin-right: 20px;
  background-color: #0073e6;
  color: #fff;
}
.header .header-subscribe:hover {
  background-color: #ffffff;
  color: blue;
}

/* Styling for the "Make A Complaint" button */
.header .header-complaint {
  background-color: #0073e6;
  color: #fff;
}
.header .header-complaint:hover {
  background-color: white;
  color: blue;
}

/* Styling for the navigation links */
.header .header-nav-link {
  text-decoration: none;
  color: #0073e6;
  margin-right: 10px;
}

/* Styling for the navigation links on hover */
.header .header-nav-link:hover {
  text-decoration: underline;
  color: #ff5722;
}
