/* Styles for the nav bar */
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content:center;
  width: 100vw;
  z-index: 1000;
}

.navbar-container a:hover {
  background: rgba(255, 0, 0, 0.3);
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: #ffffff;
}

.navbar i {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0.4rem 0.7rem;
  }

  .navbar-container a {
    padding: 0.7rem; 
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar-container a {
   font-size: 0.6rem;
   /* display: none; */
  
}
}
