/* Styles for the nav bar */
.navbar-container {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #37a3b6 !important;
  padding: 5px !important;
  display: flex !important;
  justify-content: center !important;
  width: 100vw !important;
  z-index: 1000 !important;
}

/* Common styling for navigation links and buttons */
.nav-link {
  margin-left: 15px !important;
  text-decoration: none !important;
  color: #ffffff !important;
  padding: 10px 20px !important;
  display: inline-flex !important;
  align-items: center !important;
  cursor: pointer !important;
  border: none !important;
  background: none !important;
  transition: color 0.3s ease !important;
}

/* Hover effect for navigation links and buttons */
.nav-link:hover {
  background: rgba(162, 113, 113, 0.3) !important;
  color: #007bff !important;
  transition: color 0.3s ease !important;
}

/* Style for the icons */
.nav-link i {
  margin-right: 25px !important;
}

#signup {
  background-color: #37a3b6;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0.4rem 0.7rem !important;
  }

  .navbar-container .nav-link {
    padding: 0.7rem !important;
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 600px) {
  .navbar-container .nav-link {
    font-size: 0.6rem !important;
  }
}
