/* Styles for the nav bar */
.navbar-container {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #37a3b6 !important;
  padding: 5px 10px !important;
  display: block !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100vw !important;
  z-index: 1000 !important;
}

/* Common styling for navigation links and buttons */
.nav-link {
  text-decoration: none !important;
  color: #ffffff !important;
  padding: 10px 20px !important;
  display: inline-flex !important;
  align-items: center !important;
  cursor: pointer !important;
  border: none !important;
  background: none !important;
  transition: color 0.3s ease !important;
}

/* Hover effect for navigation links and buttons */
.nav-link:hover {
  background: rgba(162, 113, 113, 0.3) !important;
  color: #007bff !important;
  transition: color 0.3s ease !important;
}

/* Style for the icons */
.nav-link i {
  margin-right: 10px !important;
}

#signup {
  background-color: #37a3b6;
  border: none !important;
}

/* Hamburger Menu Styles for Small Screens */
.mobile-menu-button {
  display: none; /* Initially hidden on larger screens */
}

.mobile-menu {
  display: none; /* Initially hidden on larger screens */
}

/* Styles for categories */
.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories a {
  text-decoration: none;
  color: #0073e6;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Mobile optimization */
@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 5px 10px !important;
    flex-direction: column; /* Stack items for small screens */
  }

  .nav-link {
    padding: 10px 20px !important;
  }

  .nav-link i {
    margin-right: 10px !important;
  }

  .mobile-menu-button {
    display: block; /* Display on small screens */
  }

  .mobile-menu {
    display: none; /* Initially hidden on small screens */
  }
  
  .categories {
    flex-direction: column;
  }
  
  .categories a {
    padding: 5px 10px;
  }
}
